html {
  font-size: 62.5%;
}

body {
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}


.hide{
  display: none;
}

.wrap{
  max-width: $max-width;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.separator{
  display: block;
  background-color: #cbcbcb;
  height: 2px;
  width: 104.3%;
  margin-left: -27px;
}